<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Start Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-info" *ngFor="let item of employees$ | async">
                <th scope="row">{{ item.name }} {{ item.lastName }}</th>
                <td>{{ item.email }}</td>
                <td>{{ item.startDate }}</td>
                <td>
                    <button (click)="onEdit(item)" type="button" class="btn btn-outline-warning m-1">Edit</button>
                    <button (click)="onSee(item)" type="button" class="btn btn-outline-warning m-1">See</button>
                    <button (click)="onDelete(item.id)" type="button" class="btn btn-outline-danger m-1">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>